%header
  %ul.nav.nav-pills{"ng-controller" => "loginController"}
    %li.btn.btn-primary
      %a(href= "#/velocity") Velocity
    %li.btn.btn-primary.active
      %a(href= "#/index") Goals
    %li.btn.btn-primary
      %a{"ng-click" => "log_user()"} {{loginButtonDisplay}}

