%header
  %h1= link_to 'Net Zero', root_path
  %ul.nav.nav-pills{"ng-controller" => "loginController"}
    %li.button
      %a(href= "#/velocity") Velocity
    %li.button.active
      %a(href= "#/index") Goals
    %li.button
      %a{"ng-click" => "log_user()"} {{loginButtonDisplay}}

