%header
  %ul.nav.nav-pills
    %li.btn.btn-primary{"ng-controller" => "chatController", "ng-click" => "fbLogin()"} HangOut
    %li.btn.btn-primary.active{"ng-controller" => "scheduleController", "ng-click" => "fbLogin()"} Scheduling
    %li.btn.btn-primary{"ng-controller" => "loginController", "ng-click" => "fbLogin()"} {{LoginStatus}}
