.scheduleWrapper

  .dayWrapper{"ng-controller" => "scheduleController"}
    %a.rightArrow.dayNav &lt;
    %a.leftArrow.dayNav &gt;

    Monday 12
    .shiftWrapper
      %a.circle.morning{"ng-click" => "shiftStuffing({id: user.id})", "ng-class" => "{'inactive': !selectedUser.enabled, 'active' : selectedUser.enabled}"}
      %a.circle.afternoon{"ng-click" => "shiftStuffing({id: user.id})", "ng-class" => "{'inactive': !id, 'active' :'id'}"}
      %a.circle.evening{"ng-click" => "shiftStuffing({id: user.id})", "ng-class" => "{'inactive': !id, 'active' :'id'}"}
      %a.circle.night{"ng-click" => "shiftStuffing({id: user.id})", "ng-class" => "{'inactive': !id, 'active' :'id'}"}

