.button.login.btn.btn-large.btn-primary.btn-block Login

#messagesDiv

%form
  .input-group
    %span.input-group-addon @
    %input#nameInput.form-control{:placeholder => "Name", :type => "text"}
  .input-group
    %span.input-group-addon P
    %input#messageInput.form-control{:placeholder => "Message", :type => "text"}
