.scheduleWrapper
  %a.leftArrow.dayNav &lt;

  .dayWrapper 
    Monday 12
    .shiftsWrapper
      .shiftWrapper
        %a.circle(href="#")
        %a.circle(href="#")
        %a.circle(href="#")
        %a.circle(href="#")

      .shiftWrapper
        %a.circle(href="#")
        %a.circle(href="#")
        %a.circle(href="#")
        %a.circle(href="#")

      .shiftWrapper
        %a.circle(href="#")
        %a.circle(href="#")
        %a.circle(href="#")
        %a.circle(href="#")

      .shiftWrapper
        %a.circle(href="#")
        %a.circle(href="#")
        %a.circle(href="#")
        %a.circle(href="#")

  %a.rightArrow.dayNav &gt;
