%section{ 'ng-controller' => 'Index' }
  .goals-container
    .goals
      %a.goal(data-name="{{goal.name}}" data-remaining="{{ remainingBudget(goal, week, true) }}" href="" ng-repeat="goal in goals")
        .budget ${{ remainingBudget(goal, week) }}
        .title {{goal.name}}
        .progress

  .tickets-container
    .tickets(class="goal-{{goal.name}}" ng-repeat="goal in goals")
      = link_to 'Add New Ticket', '#', class: 'new-ticket'
      %form{ name: 'ticketForm', 'ng-submit' => 'saveTicket(ticket)' }
        %h2 {{goal.name}} Ticket
        = link_to 'close', '#', class: 'close-form'
        %select{ name: 'user', 'ng-model' => 'ticket.user', 'ng-options' => 'user.name for user in users' }
        %input{ type: 'text', name: 'date', 'ng-model' => 'ticket.date' }
        %input{ type: 'number', name: 'amount', placeholder: '10.00', 'ng-model' => 'ticket.amount' }
        %input{ type: 'text', name: 'note', placeholder: 'Burger Fi', 'ng-model' => 'ticket.note' }
        %input{ type: 'submit', 'ng-disabled' => 'messageForm.$invalid' }

      %ul
        %li.ticket(class="{{ticket.name}}" ng-repeat="ticket in week | filter:{ goal_id: goal.$id }:true")
          .date {{ ticket.date | date: 'MMM dd' }}
          .note {{ ticket.note }}
          .amount ${{ ticket.amount }}
