%section{ 'ng-controller' => 'Index' }
  .goals-container
    .goals
      %a.goal(class="{{goal.name}}" href="" ng-repeat="goal in goals")
        .budget ${{goal.budget}}
        .title {{goal.name}}
        .progress

  %table.goal-transactions(class="goal-{{goal.name}}" ng-repeat="goal in goals")
    %tr.new-transaction
      %td{ colspan: '3' }
        %form{ name: 'ticketForm', 'ng-submit' => 'saveTicket(ticket)'}
          %select{ name: 'user', required: true, 'ng-model' => 'ticket.user' }
            %option{ value: '{{user.$id}}', 'ng-repeat' => 'user in users' } {{user.name}}

          %input{ type: 'text', name: 'date', placeholder: 'Aug 8th', required: true, 'ng-model' => 'ticket.date' }
          %input{ type: 'text', name: 'amount', placeholder: '24', required: true, 'ng-model' => 'ticket.amount' }
          %input{ type: 'submit', 'ng-disabled' => 'messageForm.$invalid' }

    %tr.transaction(class="{{transaction.name}}" ng-repeat="transaction in goal.tickets")
      %td.date {{transaction.date | date: 'MMM dd'}}
      %td.user {{ userNameFromId(transaction.user_id) }}
      %td.amount ${{transaction.amount}}
