%section{ 'ng-controller' => 'Index' }
  .goals-container
    .goals
      %a.goal(data-name="{{goal.name}}" data-remaining="{{ remainingBudget(goal.budget, goal.tickets, true) }}" href="" ng-repeat="goal in goals")
        .budget ${{ remainingBudget(goal.budget, goal.tickets) }}
        .title {{goal.name}}
        .progress

  %table.goal-tickets(class="goal-{{goal.name}}" ng-repeat="goal in goals")
    %tr.new-ticket
      %td{ colspan: '3' }
        %form{ name: 'ticketForm', 'ng-submit' => 'saveTicket(ticket)' }
          %select{ name: 'user', 'ng-model' => 'ticket.user', 'ng-options' => 'user.name for user in users' }
          %input{ type: 'text', name: 'date', 'ng-model' => 'ticket.date' }
          %input{ type: 'number', name: 'amount', placeholder: '10.00', 'ng-model' => 'ticket.amount' }
          %input{ type: 'submit', 'ng-disabled' => 'messageForm.$invalid' }

    %tr.transaction(class="{{transaction.name}}" ng-repeat="transaction in goal.tickets")
      %td.date {{transaction.date | date: 'MMM dd'}}
      %td.user {{ userNameFromId(transaction.user_id) }}
      %td.amount ${{transaction.amount}}
