form
  top: 100%
  left: 0
  right: 0
  z-index: 50
  position: absolute
  display: none
  margin: 1.5em
  padding: 1.5em
  +box-shadow(black 0 0 1.5em)

  // top take 300ms to change from ^ 100% to 0 (.visible) and vice versa
  // top using transition-timing-funciton cubic-bezier to animate
  // opactiy take 200ms to change from 0 to 1 (.visible)
  // opactiy using transition-timing-funciton ease-in to animate
  +transition(top 300ms cubic-bezier(0, 1, 0.25, 1.03), opacity 200ms ease-in)

  background: white
  opacity: 0

  &.visible
    top: 0
    opacity: 1

  h2
    float: left
    margin-bottom: 0.5em
    color: #555
    font-size: 2em
    font-weight: bold
    text-transform: capitalize

  .close-form
    float: right
    display: block
    width: 20px
    height: 20px
    background: image-url('close-button.png') no-repeat 0 0
    background-size: 20px 42px
    color: transparent
    font-size: 0
    text-indent: -100%

    &:active
      background-position: 0 -22px

  input, select
    width: 100%
    margin-bottom: 1em
    padding: 0.4em
    font-size: 2em

  input
    +border-radius(4px)
    border: 1px solid #aaa

    &:focus
      border-color: $dark-gray
      outline: none

    &[type=submit]
      margin-bottom: 0
      -webkit-appearance: none
      background: $highlight
      color: $dark-gray
      cursor: pointer
      font-weight: bold
      text-shadow: 0 1px 0 rgba(255,255,255,0.35)

      &:active
        +box-shadow(rgba(0,0,0,0.5) 0 0 1em 0 inset)
        border-color: #666
