*
  margin: 0
  padding: 0
  +box-sizing(border-box)
  +smooth-fonts()
  font: 10px Avenir, 'Open Sans', Helvetica, Arial, sans-serif
  text-decoration: none

body
  background-color: white
  color: #555
  line-height: 1.5em

#overlay
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 25
  position: fixed
  display: none
  +single-transition(opacity, 300ms, ease)
  background: rgba(0,0,0,0.75)
  opacity: 0
