.goals-container
  position: relative
  width: 100%
  height: 200px
  +box-shadow(black 0 0 1.5em 0 inset)
  +overflow-scrolling()
  background-color: $dark-gray
  border:
    bottom: 1px solid $dark-gray
    top: 1px solid $dark-gray
  overflow-x: auto

.goals
  position: relative
  width: 400%
  height: 100%
  padding: 0 1.5em
  overflow: hidden

  .goal
    position: relative
    float: left
    width: 290px
    height: 100%
    display: block

    .progress
      top: 0
      left: 0
      z-index: 5
      position: absolute
      width: 100%
      height: 100%
      +background-image(linear-gradient($green, shade($green, 20%)))
      +box-shadow(rgba(0,0,0,0.25) 1px 0 0 0 inset, rgba(255,255,255,0.25) -1px 0 0 0 inset)

    &.warning .progress
      +background-image(linear-gradient($yellow, shade($yellow, 20%)))

    &.danger .progress
      +background-image(linear-gradient($red, shade($red, 20%)))

    .budget, .title
      left: 0
      right: 0
      z-index: 10
      position: absolute
      color: #fff
      font-size: 2.5em
      font-weight: bold
      text-align: center
      text-shadow: 0 1px 0 rgba(0,0,0,0.5)
      text-transform: capitalize

    .budget
      top: 0.5em
      font-size: 2em

    .title
      bottom: 0.5em

.goal-transactions
  width: 100%

  td
    width: 33.3%
    padding: 1em
    +ellipsize()
    border-bottom: 1px solid $dark-gray
    font-size: 1.5em

    &.user
      text-align: center

    &.amount
      text-align: right

@media all and (min-width: 480px)
  .goals .goal
    width: 450px

@media all and (min-width: 568px)
  .goals .goal
    width: 538px

@media all and (min-width: 768px)
  .goals .goal
    width: 738px

@media all and (min-width: 1024px)
  .goals .goal
    width: 994px

@media all and (min-width: 1536px)
  .goals .goal
    width: 1506px

@media all and (min-width: 2048px)
  .goals .goal
    width: 2018px
