.goalsWrapper
  background-color: $off-white
  width: 100%
  height: 400px
  padding: 0
  margin: 0
  position: relative

  .goal
    // position: absolute
    // overflow: auto
    width: 200px
    height: 100%
    background-color: $dark-blue-grey
